CSS (style.css)

/* Estilos para o Cabeçalho */
header {
    text-align: center;
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}

.Raiany {
    text-align: center;
    background-color: #bc6cf1;
    padding: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

/* Estilos para o Menu de Navegação */
.nave {
    background-color: #b391f1;
    overflow: hidden;
}

.nave ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nave li {
    padding: 14px 20px;
}

.nave a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

.nave a:hover {
    background-color: #b2dcff;
}

/* Estilos para o Conteúdo Principal */
main {
    padding: 20px;
    text-align: center;
}

.página, .texto, .caldeirão {
    margin-bottom:
}

/* Rodapé*/
header {
    text-align: center;
    background-color: #774c88;
    padding: 20px;
    color: white;
}