CSS (style.css)
/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos da barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5f6063;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo uma cor padrão do Color Hunt */
:root {
    --primary-color: #4A90E2; /* Escolha a cor desejada do Color Hunt */
    --background-color: #F0F0F0;
    --footer-color: #333;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #333;
}

/* Cabeçalho */
header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin-top: 10px;
}

/* Logo */
.logo img {
    width: 100px;
    height: auto;
}

/* Banner */
.banner {
    text-align: center;
    margin: 20px 0;
}

.banner img {
    max-width: 100%;
    height: auto;
}

/* Conteúdo */
.conteudo {
    padding: 20px;
    text-align: left;
    line-height: 1.6;
}

.conteudo h2 {
    color: var(--primary-color);
}

/* Rodapé */
footer {
    background-color: var(--footer-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
